<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"  requirePermission="false" />
  </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Environment" value="TEST" />
    <add key="SendEmailGateway" value="http://10.10.10.1:8899/MailGateway.asmx" />
    <add key="NotificationRecipientList" value="alert@mmm.com" />
  </appSettings>
  
  <!---    *************************** -->
  <log4net>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--<rollingStyle value="Size" />-->
      <!--<param name="File" value="br.log" />-->
      <file value="log\log4netListener\log.log"/>

      <staticLogFileName value="false" />
      <PreserveLogFileNameExtension value="true"/>
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c: %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <!-- LogFileAppender RollingFile -->
    </root>
  </log4net>
  <!---    *************************** -->

  <system.runtime.remoting>
    <application name="RemoteAppenderLoggingSink">
      <channels>
        <channel name="logging sink" ref="tcp server" port="9876"/>
      </channels>
    </application>
  </system.runtime.remoting>
  
</configuration>